<div class="row">
        <div class="col-sm-8 col-lg-8">
                <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}
                </ngb-alert>
                <ngb-alert *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}
                </ngb-alert>
            </div>
    <div class="col-12">
        <div class="row">
            <div class="col-md-6 m-b-5">

                <div class="form-actions m-t-40">


                    <button type="button" class="btn btn-outline-info" (click)="backToEdit()">Ajouter un client</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Liste des clients
                </h4>
                <h6 class="card-subtitle"></h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-info text-white">

                            <tr>
                                <th>Prénom Client</th>
                                <th>Nom Client</th>
                                <th>Adresse Client </th>
                                <th>Contact Client</th>
                                <th>Option</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let client of allClients| paginate: {id:'client', itemsPerPage: 10, currentPage: p }">
                                <td>{{client.prenomClient}}</td>
                                <td>{{client.nomClient}}</td>
                                <td>{{client.contactClient}}</td>
                                <td>{{client.adresseClient}}</td>
                                <td>
                                    <button type="button" (click)="goToUpdate(client.id)"
                                        class="btn btn-info btn-circle"><i class="fa fa-edit"></i>
                                    </button>

                                    <button type="button" (click)="onDelete(client.id)"
                                        class="btn btn-danger btn-circle"><i class="fa fa-trash"></i>
                                    </button></td>
                            </tr>
                            <span *ngIf="!allClients?.length">Pas de donnée(s)</span>

                        </tbody>
                    </table>
                    <div class="list" *ngIf="allClients?.length">
                        <pagination-controls id="client" (pageChange)="p = $event" previousLabel="Précédent"
                            nextLabel="Suivant"></pagination-controls>


                        <!--  <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"
                            previousLabel="Précédent" screenReaderPaginationLabel="Pagination"
                            screenReaderPageLabel="page" directionLinks="true" nextLabel="Suivant">
                        </pagination-controls> -->


                        <!--   <pagination-controls id="some_id" (pageChange)="pageChanged($event)" maxSize="9"
                            directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous"
                            nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                            screenReaderCurrentLabel="You're on page">
                        </pagination-controls> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>