<div class="row">
    <div class="col-sm-8 col-lg-8">
       <!--nbgAlert-->
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-md-6 m-b-5">

                <div class="form-actions m-t-40">


                    <button type="button" class="btn btn-outline-info" >Ajouter un approvisionnement</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Liste des approvisionnement
                </h4>
                <h6 class="card-subtitle"></h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-info text-white">
                            <tr>
                                <th>Boutique</th>
                                <th>Agent</th>
                                <th>Date approvisionnement</th>
                                <th>Option </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                            
                           

                        </tbody>
                    </table>

                    <div class="list" >
                        


                        <!--    <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"
                            previousLabel="Précédent" screenReaderPaginationLabel="Pagination"
                            screenReaderPageLabel="page" directionLinks="true" nextLabel="Suivant">
                        </pagination-controls> -->


                        <!--   <pagination-controls id="some_id" (pageChange)="pageChanged($event)" maxSize="9"
                            directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous"
                            nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                            screenReaderCurrentLabel="You're on page">
                        </pagination-controls> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>