<nav aria-label="breadcrumb" class="pt-1 ">
    <ol class="breadcrumb " style="background-color:#4798e8 ">
        <li class="breadcrumb-item active text-light" aria-current="page">Tableau de statistiques</li>
    </ol>
</nav>
<div class="row">

    <div class="col-lg-4">
        <div class="card ">
            <div class="card-body">
                <h4 class="card-title">Product Sale</h4>
                <div id="visitor" style="height:223px; width:100%;" class="m-t-20"></div>
                <!-- row -->
                <div class="row m-t-30 m-b-15">
                    <!-- column -->
                    <div class="col-4 birder-right text-left">
                        <h4 class="m-b-0">60%
                            <small>
                                <i class="ti-arrow-up text-success"></i>
                            </small>
                        </h4>Iphone
                    </div>
                    <!-- column -->
                    <div class="col-4 birder-right text-center">
                        <h4 class="m-b-0">28%
                            <small>
                                <i class="ti-arrow-down text-danger"></i>
                            </small>
                        </h4>Samsung
                    </div>
                    <!-- column -->
                    <div class="col-4 text-right">
                        <h4 class="m-b-0">12%
                            <small>
                                <i class="ti-arrow-up text-success"></i>
                            </small>
                        </h4>One+
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card ">
            <div class="card-body">
                <h4 class="card-title">Product Sale</h4>
                <div id="products" style="height:223px; width:100%;" class="m-t-20"></div>
                <!-- row -->
                <div class="row m-t-30 m-b-15">
                    <!-- column -->
                    <div class="col-4 birder-right text-left">
                        <h4 class="m-b-0">60%
                            <small>
                                <i class="ti-arrow-up text-success"></i>
                            </small>
                        </h4>Iphone
                    </div>
                    <!-- column -->
                    <div class="col-4 birder-right text-center">
                        <h4 class="m-b-0">28%
                            <small>
                                <i class="ti-arrow-down text-danger"></i>
                            </small>
                        </h4>Samsung
                    </div>
                    <!-- column -->
                    <div class="col-4 text-right">
                        <h4 class="m-b-0">12%
                            <small>
                                <i class="ti-arrow-up text-success"></i>
                            </small>
                        </h4>One+
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4>Last Month Income</h4>
                <div id="income" class="m-t-30"></div>
            </div>
        </div>
    </div>
</div>