<div class="row">
    <div class="col-sm-8 col-lg-8">
        <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}
        </ngb-alert>
        <ngb-alert *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}
        </ngb-alert>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-md-6 m-b-5">

                <div class="form-actions m-t-40">


                    <button type="button" class="btn btn-outline-info" (click)="backToEdit()">Ajouter un agent</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Liste des agents
                </h4>
                <h6 class="card-subtitle"></h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-info text-white">
                            <tr>
                                <th>Photo</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Date de naissance</th>
                                <th>Adresse</th>
                                <th>Contact</th>
                                <th>Pseudo</th>
                                <th>Option </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let agent of allAgents | paginate: { id:'agent',itemsPerPage: 10, currentPage: p }">
                                <td><img src="{{agent?.profil}}" class="img-thumbnail" width="35" height="20" alt="">
                                </td>
                                <td>{{agent.nomAgent}}</td>
                                <td>{{agent.prenomAgent}}</td>
                                <td>{{agent.dateNaisAgent| date: 'dd/MM/yyyy'}}</td>
                                <td>{{agent.adresseAgent}}</td>
                                <td>{{agent.contactAgent}}</td>
                                <td>{{agent.pseudoAgent}}</td>
                                <td>
                                    <button type="button" (click)="goToUpdate(agent.id)"
                                        class="btn btn-info btn-circle"><i class="fa fa-edit"></i>
                                    </button>

                                    <button type="button" (click)="onDelete(agent.id)"
                                        class="btn btn-danger btn-circle"><i class="fa fa-trash"></i>
                                    </button></td>
                            </tr>

                        </tbody>
                    </table>
                    <span *ngIf="!allAgents?.length">Pas de donnée(s)</span>

                    <div class="list" *ngIf="allAgents?.length">
                        <pagination-controls id="agent" (pageChange)="p = $event" previousLabel="Précédent"
                            nextLabel="Suivant"></pagination-controls>


                        <!--    <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"
                            previousLabel="Précédent" screenReaderPaginationLabel="Pagination"
                            screenReaderPageLabel="page" directionLinks="true" nextLabel="Suivant">
                        </pagination-controls> -->


                        <!--   <pagination-controls id="some_id" (pageChange)="pageChanged($event)" maxSize="9"
                            directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous"
                            nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                            screenReaderCurrentLabel="You're on page">
                        </pagination-controls> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>